/*CSS*/
    
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
    }

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    overflow: hidden; 
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    align-items: center; 
    background-color: black; 
    color: #fff; 
}
header {
    text-align: center; 
}

.social-icons, .logo, .dropdown {
    display: inline-block; 
}

.logo img {
    display: block; 
    margin: 0 auto; 
}
.social-icons {
    display: flex;
    justify-content: flex-start; 
    padding: 10px;
}

.social-icons a {
    margin-right: 10px; 
    text-decoration: none;
    color: #fff;
}

.logo {
    display: flex;
    justify-content: center; 
}

h1  {
    display: flex;
    justify-content: center
}

h2 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}   

.card-text-bg-dark {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-container {
    display: flex; 
}

.form-column {
    flex: 1; 
    margin: 10px; 
}

.form-column h2 {
    text-align: center; 
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-row label {
    margin-bottom: 5px;
}

.form-row input {
    width: 100%; 
}

footer {
    display: flex;
    justify-content: space-between; 
    background-color: black; 
    color: #fff; 
    padding: 10px;
}

footer {
    text-align: center; 
}

.contact-info, .phone, .social-icons {
    flex: 1; 
}

.social-icons {
    display: flex;
    justify-content: flex-end; 
}

.social-icons a {
    margin-left: 10px; 
    text-decoration: none;
}

.contact-info, .phone, .social-icons {
    flex: 1; 
}

.social-icons {
    display: flex;
    justify-content: flex-end; 
}

.social-icons a {
    margin-left: 10px; 
    text-decoration: none;
    color: #fff;
}

.quienes.somos {
    justify-content: center;
}

/* Pantallas pequeñas */
@media (max-width: 768px) {

.navbar-toggler {
    background: none;
    border: none;
    padding: 0;
}

.navbar-toggler-icon {
    background-color: #fff; 

    @media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    .navbar-toggler {
        display: block;
    }

    .collapse.navbar-collapse {
        display: none;
    }

    .collapse.navbar-collapse.show {
        display: block;
    }
}
}
}