.container {
    max-width: 1200px; 
    margin: 0 auto; 
    overflow: hidden; 
}

body {
    font-family: Arial, sans-serif;
    margin-top: $margin-top;
    margin: 0;
    padding: 0; 
    
}

#carouselExampleIndicators {
    margin-top: $margin-top;
}

.quienes.somos {
    justify-content: center;
}

.form {
    &-container {
        display: flex; 
    }

    &-column {
        flex: 1; 
        margin: 10px; 

         h2 {
            text-align: center; 
        }
    }

    &-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    
        label {
            margin-bottom: 5px;
        }
    
        input {
            width: 100%; 
        }
    }
    
}

.texto {
    text-align: justify;
    max-width: 100%; 
 }
    

     