main {
    h1  {
        display: flex;
        justify-content: center
    }

    h2 {
        display: flex;
        justify-content: center;
    }

    p {
        display: flex;
        justify-content:safe;
    }   
}
.card-text-bg-dark {
    margin-top: 50px;
    margin-bottom: 50px;
}

.texto {
    text-align: justify;
    max-width: 100%; 
 }