
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    .navbar-toggler {
        display: block;
    }

    .collapse.navbar-collapse {
        display: none;
    }

    .collapse.navbar-collapse.show {
        display: block;
    }

    .grid {
         &-container {
             display: grid;
             grid-template-columns:  grid-template-columns: 1fr;
             grid-gap: 16px;
             max-width: 800px;
            margin: 20px auto;

         &-item {
             overflow: hidden;

             img {
                 width: 100%;
                 height: auto;
                 display: block;
             }
            }
         }
        }}
       
    .form { 
        &-container {
         display: flex; 
        }
        &-column {
        flex: 1; 
        margin: 10px; 
        
            h2 {
            text-align: center; 
            }
        }
        &-row {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            label {
                margin-bottom: 5px;
            }

            input, select, textarea {
                width: 100%; 
            }
        }
    }

    @media screen and (min-width: 1200px) {
        .container {
          grid-template-columns: repeat(4, 1fr);
        }
        .navbar-toggler {
            display: block;
        }
    
        .collapse.navbar-collapse {
            display: none;
        }
    
        .collapse.navbar-collapse.show {
            display: block;
        }
      }

